{% extends 'base.html' %}
{% block title %}
Pytania
{% endblock %}

{% block content %}


<div class="container">
    <div class="description text-center my-5">
        <h2>Opis wstępny</h2>
    </div>


    <!-- Pytania -->

    <!-- 1 -->
    <div class="row my-5">
        <div class="col"></div>

        <div class="col-6 border border-3 border-primary rounded ">
            <div class="question_text my-3">
                <h4 class="text-center">1. {{form.rok.label()}}</h4>
            </div>
            <div class="answer my-3">
                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">
                            {{form.rok(class="form-select form-select-lg mb-3 form-control")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>


    <!-- 2 -->

    <div class="row my-5">
        <div class="col"></div>

        <div class="col-6 border border-3 border-primary rounded ">
            <div class="question_text my-3">
                <h4 class="text-center">2. {{form.zwiazek.label()}}</h4>
            </div>
            <div class="answer my-3">
                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">
                            {{form.zwiazek(class="form-select form-select-lg mb-3 form-control")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 3 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">3. {{form.praca.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.praca(class="form-radio form-radio-lg mb-3 form-control" )}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 4 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">4. {{form.gra_prof.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.gra_prof(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 5 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">5. {{form.gra_ulubiona.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.gra_ulubiona(class="form-text form-text-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 6 -->

    <div class="row my-5">
        <div class="col"></div>

        <div class="col-6 border border-3 border-primary rounded ">
            <div class="question_text my-3">
                <h4 class="text-center">6. {{form.gra_platforma.label()}}</h4>
            </div>
            <div class="answer my-3">
                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">
                            {{form.gra_platforma(class="form-select form-select-lg mb-3 form-control")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 7 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">7. {{form.gra_klan.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.gra_klan(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 8 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">8. {{form.gra_grind.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.gra_grind(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 9 -->

    <div class="row my-5">
        <div class="col"></div>

        <div class="col-6 border border-3 border-primary rounded ">
            <div class="question_text my-3">
                <h4 class="text-center">9. {{form.pandemia_start.label()}}</h4>
            </div>
            <div class="answer my-3">
                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">
                            {{form.pandemia_start(class="form-select form-select-lg mb-3 form-control")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 10 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">10. {{form.pandemia_gra_wiecej.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.pandemia_gra_wiecej(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>


    <!-- 11 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">11. {{form.pandemia_czas.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.pandemia_czas(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 12 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">12. {{form.pozytyw_ucieczka.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.pozytyw_ucieczka(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 13 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">13. {{form.pozytyw_samokontrola.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.pozytyw_samokontrola(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 14 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">14. {{form.pozytyw_koncentracja.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.pozytyw_koncentracja(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 15 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">15. {{form.pozytyw_koordynacja.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.pozytyw_koordynacja(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 16 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">16. {{form.negatyw_gra_pomimo_konsekwencji.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.negatyw_gra_pomimo_konsekwencji(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 17 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">17. {{form.negatyw_gra_dluzej.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.negatyw_gra_dluzej(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 18 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">18. {{form.negatyw_gra_nad_inne_aktywnosci.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.negatyw_gra_nad_inne_aktywnosci(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 19 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">19. {{form.negatyw_zaniedbania.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.negatyw_zaniedbania(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 20 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">20. {{form.negatyw_gniew.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.negatyw_gniew(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 21 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">21. {{form.tow_kontakty.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.tow_kontakty(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 22 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">22. {{form.tow_inni_sie_przejmuja.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.tow_inni_sie_przejmuja(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 23 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">23. {{form.tow_brak_towarzystwa.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.tow_brak_towarzystwa(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 24 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">24. {{form.tow_izolacja.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.tow_izolacja(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- 25 -->

    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">25. {{form.tow_przytloczenie.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.tow_przytloczenie(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- Koniec pytań -->

    <!-- submit -->

    <div class="text-center my-4">

        <form>
            {{form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>

    <!-- koniec -->



    <!-- Pytanie nr 1 - rodzaj: checkbox -->

    <div class="row my-5">
        <div class="col"></div>

        <div class="col-6 border border-3 border-primary rounded ">
            <div class="question_text my-3">
                <h4>{{form.rok.label()}}</h4>
            </div>
            <div class="answer my-3">
                <h6>Możliwe odpowiedzi: query z database z treścią możliwych odp</h6>

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="checkbox-inline">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="checkbox-inline" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="col align-self-center">
                            <div class="checkbox-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="checkbox-inline" for="flexCheckDefault">
                                    Default checkbox
                                </label>
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <div class="checkbox-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="checkbox-inline" for="flexCheckDefault">
                                    Default checkbox
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>



    <!-- Koniec rodzaj pytania nr 1 -->

    <!-- Pytanie nr 2 : select -->
    <div class="row my-5">
        <div class="col"></div>

        <div class="col-6 border border-3 border-primary rounded ">
            <div class="question_text my-3">
                <h4 class="text-center">2. {{form.zwiazek.label()}}</h4>
            </div>
            <div class="answer my-3">
                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">
                            {{form.zwiazek(class="form-select form-select-lg mb-3 form-control")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!-- Koniec rodzaj pytania nr 2 -->

    <!-- Pytanie nr 3 - rodzaj: radio -->
    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">4. {{form.gra_prof.label()}}</h4>
            </div>
            <div class="answer my-3">

                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="form-check">

                            {{form.gra_prof(class="form-radio form-radio-lg mb-3 form-control")}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- Koniec rodzaj pytania nr 3 -->


    <!-- Pytanie nr 4 - rodzaj: slider -->



    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4>{{form.rok.label()}}</h4>
            </div>
            <div class="answer my-3">
                <h6 class="text-center">Możliwe odpowiedzi: query z database z treścią możliwych odp</h6>

                <!-- SLIDER -->
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- Koniec rodzaj pytania nr 4 -->

    <!-- Pytanie nr 5 - rodzaj: text area -->
    <div class="row my-5">
        <div class="col"></div>
        <div class="col-6 border border-3 border-primary rounded-3">
            <div class="question_text my-3">
                <h4 class="text-center">{{form.rok.label()}}</h4>
            </div>
            <div class="answer my-3">
                <h6 class="text-center">Możliwe odpowiedzi: query z database z treścią możliwych odp</h6>
                <input required type="text" class="form-control" name="topic" list="topic-list"
                    placeholder="nazwa gry" />
            </div>
        </div>

        <!-- Koniec rodzaj pytania nr 5 -->
        <div class="col"></div>
    </div>



</div>

{% endblock %}