{% extends 'base.html' %}
{% block title %}
Ankieta
{% endblock %}

{% block content %}

{% for field, errors in form.errors.items() %}
{{ ', '.join(errors) }}
{% endfor %}

<div class="container-fluid">

    <form class="form-horizontal" method="POST">
       {{ form.hidden_tag() }}
       <!-- form.csrf_token() -->
    <div class="parallax0">

        <div class="description text-center my-5">
            <h2>Opis wstępny</h2>
        </div>


        <!-- Pytania -->


        <!-- 1 rok -->

        <div class="row my-5">
            <div class="col"></div>

            <div id="chmurka" class="col-6">
                <div class="question_text my-4">
                    <h4 class="text-center">{{form.rok.label()}}</h4>
                </div>
                <div class="answer my-3">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col-4 align-self-center">
                            <div class="form-check">
                                {{form.rok(class="form-select form-select-lg mb-3 form-control border border-info")}}
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <!-- 2 zwiazek -->

        <div class="row my-5">
            <div class="col"></div>

            <div id="chmurka" class="col-6">
                <div class="question_text my-4">
                    <h4 class="text-center">{{form.zwiazek.label()}}</h4>
                </div>
                <div class="answer my-3">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col-6 align-self-center">
                            <div class="form-check">
                                {{form.zwiazek(class="form-select form-select-lg mb-3 form-control border border-info")}}
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>

        </div>
        <!-- 3 praca -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6 text-dark">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.praca.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.praca %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>

        </div>
        <!-- 4 gra_prof -->


        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.gra_prof.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.gra_prof %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 5 gra_ulubiona -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-3">
                    <h4 class="text-center">{{form.gra_ulubiona.label()}}</h4>
                </div>
                <div class="answer my-3">
                    <div class="row align-items-center">
                        <div class="col align-self-center">
                            <div class="form-check">
                                {{form.gra_ulubiona(class="form-text form-text-lg mb-3 form-control border border-info" ,placeholder="Minecraft") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <!-- 6 gra_platforma  -->

        <div class="row my-5">
            <div class="col"></div>

            <div id="chmurka" class="col-6">
                <div class="question_text my-4">
                    <h4 class="text-center">{{form.gra_platforma.label()}}</h4>
                </div>
                <div class="answer my-3">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col-8 align-self-center">
                            <div class="form-check">
                                {{form.gra_platforma(class="form-select form-select-lg mb-3 form-control border border-info")}}
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <!-- 7 gra_klan -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.gra_klan.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.gra_klan %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 8  gra_grind-->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.gra_grind.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.gra_grind %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
    <!-- 9 pandemia_start -->
    <div class="parallax2">
        <div class="row my-5">
            <div class="col"></div>

            <div id="chmurka" class="col-6">
                <div class="question_text my-4">
                    <h4 class="text-center">{{form.pandemia_start.label()}}</h4>
                </div>
                <div class="answer my-3">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col-6 align-self-center">
                            <div class="form-check">
                                {{form.pandemia_start(class="form-select form-select-lg mb-3 form-control border border-info")}}
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>


        <!-- 10 pandemia_gra_wiecej -->

        <div class="row">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.pandemia_gra_wiecej.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.pandemia_gra_wiecej %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 11 pandemia_czas -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.pandemia_czas.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.pandemia_czas %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 12 pozytyw_ucieczka -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.pozytyw_ucieczka.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.pozytyw_ucieczka %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 13  pozytyw_samokontrola -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.pozytyw_samokontrola.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.pozytyw_samokontrola %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 14 pozytyw_koncentracja -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.pozytyw_koncentracja.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.pozytyw_koncentracja %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 15  pozytyw_koordynacja -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.pozytyw_koordynacja.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.pozytyw_koordynacja %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
    <!-- 16 negatyw_gra_pomimo_konsekwencji -->
    <div class="parallax3">
        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.negatyw_gra_pomimo_konsekwencji.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.negatyw_gra_pomimo_konsekwencji %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 17 negatyw_gra_dluzej -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.negatyw_gra_dluzej.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.negatyw_gra_dluzej %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 18 negatyw_gra_nad_inne_aktywnosci-->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.negatyw_gra_nad_inne_aktywnosci.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.negatyw_gra_nad_inne_aktywnosci %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 19 negatyw_zaniedbania -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.negatyw_zaniedbania.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.negatyw_zaniedbania %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 20 negatyw_gniew -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.negatyw_gniew.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.negatyw_gniew %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 21 tow_kontakty-->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.tow_kontakty.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.tow_kontakty %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 22 tow_inni_sie_przejmuja -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.tow_inni_sie_przejmuja.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.tow_inni_sie_przejmuja %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 23 tow_brak_towarzystwa-->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.tow_brak_towarzystwa.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.tow_brak_towarzystwa %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 24 tow_izolacja -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.tow_izolacja.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.tow_izolacja %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- 25 tow_przytloczenie -->

        <div class="row my-5">
            <div class="col"></div>
            <div id="chmurka" class="col-6">
                <div class="question_text my-4 ">
                    <h4 class="text-center">{{form.tow_przytloczenie.label()}}
                        </br>
                        </br>
                        <div class="row justify-content-md-center">
                            {% for subfield in form.tow_przytloczenie %}
                            <tr>
                                <div class="col-2 ">
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                    </h4>
                </div>

            </div>
            <div class="col"></div>
        </div>

        <!-- Koniec pytań -->

        <!-- submit -->

        <!-- <div class="text-center" style="margin-top: 120px;">
            <a href="{{ url_for('form_page') }}" class="btn btn-lg btn-block btn-primary" role="button"
                aria-pressed="true">
                <h2>Zacznij ankietę</h2>
            </a>
        </div> -->


        
            <div class="text-center mb-5" style="margin-top: 80px;">

                    {{form.submit(class="btn btn-lg btn-block btn-primary")}}
                
            </div>
        
    </div>
</form>
    <!-- koniec -->

</div>

{% endblock %}