{% extends 'base.html' %}
{% block title %}
Ankieta "Powitanie"
{% endblock %}

{% block content %}

<div class="container my-5">
    <div id="chmurka" class="">
        <h1 class="text-center">Cześć !</h1>
        <h2>H2: Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
        <h3>H3: Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
        <h4>H4: Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
        <h5>H5: Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
        <p>P: Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <span>Span: Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </div>
</div>


{% endblock %}