{% extends 'base.html' %}
{% block title %}
Podziękowanie
{% endblock %}

{% block content %}


<div class="container my-5">
    <div class="grid_item_end">
        <h1 class="text-center my-4 pt-2">Dzięki za wypełnienie ankiety</h1>
        <h3 class="mx-5 mb-5">
            Dziękujemy za poświęcony czas na wypełnienie przygotowanej przez nas ankiety.
            Twoje odpowiedzi posłużą nam w poszerzaniu naszej bazy danych oraz szukaniu zależności
            w szeroko rozumianym pojęciu "Data mining'u".
        </h3>
    </div>
</div>


{% endblock %}